<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Staff Management </title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center text-primary mb-5">Staff Management System</h1>

    <div class="container mt-5 mb-5">
        <form th:action="@{/staff/search}" method="GET"  class="form-inline">
            <div class="form-group">
                <label> Tìm kiếm </label>
                <input type="text" name="key_search" class="form-control"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    <div class="container"><a th:href="@{/staff/create}" class="btn btn-success">Add Staff</a></div>
    <div class="container mt-5">
        <a th:href="@{/staff/exportToExcel}" class="btn btn-secondary">Export to Excel</a>
        <a th:href="@{/staff/exportToCSV}" class="btn btn-secondary ml-5">Export to CSV</a>
        <a th:href="@{/staff/exportToPDF}" class="btn btn-secondary ml-5 mr-5">Export to PDF</a>
    </div>

    <table class="table mt-5 table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Email</th>
            <!--            <th>Birthday</th>-->
            <th>Gender</th>
            <th>Phone</th>
            <th>Photo</th>
            <th>Salary</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="staff : ${LIST_STAFF}">
            <td th:text="${staff.id}"></td>
            <td th:text="${staff.name}"></td>
            <td th:text="${staff.email}"></td>
            <!--            <td th:text="${#dates.format(birthday, 'dd/MM/yyyy')}"></td>-->
            <td th:text="${staff.gender} ? 'Male' : 'Female'"></td>
            <td th:text="${staff.phone}"></td>
            <td width="100" height="100">
                <img alt="" th:src="@{'/getImage/' + ${staff.photo}}" width="80" height="80"/>
            </td>
            <td th:text="${staff.salary}"></td>
            <td><a th:href="@{/staff/view/{id}(id=${staff.id})}" class="btn btn-info">VIEW</a></td>
            <td><a th:href="@{/staff/edit/{id}(id=${staff.id})}" class="btn btn-warning">UPDATE</a></td>
            <td><a th:href="@{/staff/delete/{id}(id=${staff.id})}" class="btn btn-danger">DELETE</a></td>
        </tr>
        </tbody>
    </table>

    <div class="container">
        Total Items: [[${totalItem}]] -- Page [[${currentPage}]] of [[${totalPages}]] &nbsp;&nbsp;&nbsp;&nbsp;

        <h1>Pagination</h1>

        <ul class="pagination">
            <li th:if="${currentPage > 2}" class="page-item">
                <a class="page-link" th:href="@{'/staff/page/1?sortField=id&sortDir='+${sortDir}}">|<</a>
            </li>

            <li th:if="${currentPage > 1}" class="page-item">
                <a class="page-link" th:href="@{'/staff/page/'+${currentPage-1} + '?sortField=id&sortDir='+${sortDir}}"><<</a>
            </li>

            <li th:each="i: ${#numbers.sequence(1,totalPages)}" th:classappend="${currentPage == i ? 'page-item active' : 'page-item'}" >
                <a class="page-link" th:href="@{'/staff/page/'+${i} + '?sortField=id&sortDir='+${sortDir}}">[[${i}]]</a>
            </li>

            <li th:if="${(currentPage + 1) <= totalPages}" class="page-item">
                <a class="page-link" th:href="@{'/staff/page/'+${currentPage+1} + '?sortField=id&sortDir='+${sortDir}}"> >></a>
            </li>

            <li th:if="${(currentPage + 2) <= totalPages}" class="page-item">
                <a class="page-link" th:href="@{'/staff/page/' + ${totalPages} + '?sortField=id&sortDir='+${sortDir}}"> >| </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>